/* @theme marp-default-km1 */

@import 'default';

section {
	/* background: #fc9; */
	justify-content: flex-start;
}

section.lead {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
}

footer {
	position: absolute;
	left: 10px;
	right: 10px;
	height: 10px;
	bottom: 20px;
}

h2, h3 {
	color: #ffff00 !important;
}

h4 {
	color: #ffffcc !important;
}